<ion-view>
    <ion-content style="background-image: url('img/Kuvat/tausta1.jpg'); background-size: cover" ng-controller="contactsController">
    <!--<div class="bar bar-header bar-header-opacity">
        <h1 class="title">Yhteystiedot</h1>
    </div>
    <div class="row" style="height: 43px;"></div>-->
        
        <div class="card">
            <div class="pic" style="text-align: center;">
              <img src="./img/yhteystiedoticon.png"  alt="" style="padding:20px;"/>
                <div class="item-text-wrap">
                    <p>Voit olla meihin helposti yhteydessä sähköpostitse info@duuniexpo.ue tai avaamalla yhteydenottolomakkeen alla olevasta painikkeesta.</p>
                    <div class="buttonStyle" style="padding-top: 5%">
                     <a href="https://goo.gl/forms/ASniGCTnWBhTMmwE3">
                        <button class="button button-block button-positive" style="max-width:90%;margin:auto;display:block;margin-bottom:15px;">Avaa lomake</button>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <a class="item item-thumbnail-left rm_bg">
                <img src="./img/tapahtumapaikkaicon.png" alt=""/>
                <div class="teksti padding-top item-text-wrap">
                    <h2>Tapahtumapaikka</h2>
                    <p>Lahden Messukeskus Salpausselänkatu 7, 15142 Lahti</p>
                </div>
            </a>
        </div>
        
        <div class="card">
            <div class="row">
                <iframe id="iframe3" height="450" frameborder="0" style="border:0;width:100%;" src="https://www.google.com/maps/embed/v1/place?q=salpaussel%C3%A4nkatu%207%2015142%20lahti&key=AIzaSyC7oXbsJGYMKAFw-6gcagc_bC_D4jE79F4" allowfullscreen></iframe>
            </div>
        </div>
        
        <div class="card">
            <div class='row'>
                <div class='col'>
                    <img src="img/Kuvat/lamk_tunnus_vaaka_mv.png" alt="" style="max-width: 100%; max-height: 100%;">
                </div>
            </div>
        </card>
    </ion-content>
</ion-view>